/* CSS Document */
body,tr,td{
margin:0px;
font-family:"ו";
font-size:12px;
line-height:24px;
}
p {
margin:0px;
}
form{
margin:0px;
}
.bg {
background-repeat:no-repeat;
}
.height{
line-height:48px;
}
.border {
border-bottom:#CCCCCC 1px solid;
line-height:28px;
}
.border1 {
border-bottom:#eeeeee 1px solid;
line-height:28px;
}
.border2 {
background-color:#FFFFFF;
border:#009933 1px solid;
}
a:link {
color:#000000;
text-decoration:none;
}
a:visited {
color:#000000;
text-decoration:none;
}
a:hover {
color:#000000;
text-decoration:none;
}
